.portraitPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.portraitPage img {
    max-width: 90%;
    max-height: 90%;
    border: 5px solid darkgreen;
}
